/*--------------------------------------------------------------
## Front page
--------------------------------------------------------------*/

$front-page-height: 240px;

.front-page {
  .attachment-post-thumbnail {
    display: inline-block;
    height: $front-page-height;
    object-fit: cover;
  }

  .post {
    clear: both;
    min-height: $front-page-height;
    position: relative;

    &:nth-child(odd) {
      .entry-header,
      .entry-info {
        float: right;
      }

      .entry-header {
        margin-right: 4px;
      }
    }
  }

  .entry-header {
    vertical-align: top;
    float: left;
    display: inline-block;
    width: $page-width / 3 - 2;

    &:hover {
      .entry-meta {
        opacity: 1;
      }
    }
  }

  .entry-info {
    vertical-align: top;
    display: inline-block;
    float: left;
    width: ($page-width / 3 * 2) - 2;
    background: rgba(255,255,255,0.9);
    padding: 1rem 1.5rem;
    position: absolute;
    height: 100%;
    border-bottom: none;

    -webkit-transition: background-color $transition-time;
    -moz-transition: background-color $transition-time;
    transition: background-color $transition-time;

    &:hover {
      background-color: white;
    }

    h2 {
      font-size: 1.5rem;
    }

    .entry-title {
      position: relative;
      margin-top: 0;
      display: inline-block;
      margin-bottom: 0.5em;
      line-height: 1.25em;
    }

    .entry-subtitle {
      font-size: 1rem;
    }

    .entry-meta {
      margin: 1rem 0 .5rem;
      opacity: 0;

      -webkit-transition: opacity $transition-time;
      -moz-transition: opacity $transition-time;
      transition: opacity $transition-time;
    }
  }
}

.no-thumbnail {
  min-height: $front-page-height;

  .entry-header {
    min-height: $front-page-height;
    background-image: url('img/pattern2.png');
  }
}

.front-page-category {
  font-size: 1.1rem;
  float: right;
  font-weight: 100;
  margin-top: -.1rem;
  margin-right: .5rem;
  padding: .2rem 1rem 0;
  font-style: italic;
  position: absolute;
  left: .5rem;
  bottom: 1.25rem;
}

@media (max-width: 480px) {
  .front-page {
    .entry-info {
      width: 100%;
      float: none;
      position: relative;
    }

    .entry-header {
      float: none;
      width: 100%;
    }
  }
}
