@mixin max-width () {
  max-width: $page-width;
  margin: 0 auto;
}

@mixin header ($header: $header-font-family, $weight: 300) {
  font-family: $header;
  font-weight: $weight;
}

@mixin placeholder ($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
     color: $color;
  }
}

@mixin menu-hover-over-effect () {
  &::before,
  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $red;
    content: '';
    -webkit-transition: -webkit-transform $transition-time;
    -moz-transition: -moz-transform $transition-time;
    transition: transform $transition-time;
    z-index: $menu-z-index - 1;
  }

  &::after {
    opacity: 0;
    -webkit-transition: top $transition-time, opacity $transition-time, -webkit-transform $transition-time;
    -moz-transition: top $transition-time, opacity $transition-time, -moz-transform $transition-time;
    transition: top $transition-time, opacity $transition-time, transform $transition-time;
  }

  &:hover::after,
  &:focus::after {
    top: 0%;
    opacity: 1;
  }
}
