/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

// By default, the primary content column is limited to the "standard" width
// however, this will be undone for single-posts below
.site-content {
  @include max-width;
}


.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5rem;
}

.updated:not(.published) {
  display: none;
}

.attachment-post-thumbnail {
  display: block;
}

.attachment-post-thumbnail,
figure img {
  background-image: $background-pattern;

  &.size-large {
    min-height: 300px;
  }
}

.site-content {
  @media (max-width: 480px) {
    padding: .5rem;
  }
}

.page-content {
  margin: 2rem 0 0; 
}

// Single post customization

body.single-post {
  background: white;
  
  .entry-header,
  .navigation.post-navigation,
  #comments,
  aside#secondary { 
    @include max-width;
  }

  .site-content {
    max-width:  none;
  }
  
  .entry-content {
    & > * {
      max-width: $page-width;
      margin-left: auto;
      margin-right: auto;
    }
    & > *.width-wider {
      width: 100%;
      max-width: none;
      @media (min-width: 1000px) {
        max-width: 85%;
        max-width: 85vw;
      }
    }
    & > *.width-viewport {
      width: 100%;
      max-width: none;
    }

    .wp-block-image img {
      display: block;
    }

    figure + figure {
      margin-top: 0;
    }
  }
}

.entry-title {
  @include header($header-font-family, 400);
  font-size: 2rem;
}

.entry-subtitle {
  font-size: 1.5rem;
  margin: 0;
}

.entry-meta {
  @include header();
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}


.single {
  .entry-header {
    margin-bottom: 2rem;
  }
}

.entry-footer {
  span {
    display: block;
  }
}

.nav-previous::before,
.nav-next::before {
  margin-right: .5rem;
  display: inline-block;
}

.nav-previous::before {
  content: 'Previously: ';
}

.nav-next::before {
  content: 'Next: ';
}
