.site-branding .search-form {
  float: right;
  bottom: -10px;
  right: 0;
  position: absolute;

  label {
    width: 100%;
    display: inline-block;
    z-index: 1;
  }

  input[type="search"] {
    @include placeholder(transparent);
    width: 67px;
    font-family: $title-font-family;
    background-color: transparent;
    border: none;
    border-radius: 0;
    float: right;
    font-size: 1.2rem;
    border-top: 1px solid darken($background-gray, 20%);
    transition: width $transition-time;
    z-index: 0;

    &:active,
    &:focus {
      @include placeholder(darken($background-gray, 20%));
      width: 300px;
    }
  }

  input[type="submit"] {
    display: none;
  }

  &::before {
    position: absolute;
    top: 0;
    margin-top: .4rem;
    right: 5px;
    z-index: 20;
    background-image: url(img/search.svg);
    width: 1.4rem;
    height: 1.4rem;
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    display: block;
    pointer-events: none;
    cursor: pointer;
  }
}

.search-results,
.search-no-results {
  .search-form input[type="search"]{
    width: 300px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .site-branding {
    .search-form {
      position: relative;
      width: 100%;

      label {
        width: 75%;
      }

      &::before {
        display: none;
      }

      input[type="search"] {
        width: 100%;
        &:active,
        &:focus {
          width: 100%;
        }
      }

      input[type="submit"] {
        vertical-align: top;
        display: inline-block;
      }
    }
  }
}

